* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px blue solid; */
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/asanoha-400px.png");
    padding: 5px;
}

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #dbedff;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    font-weight: bold;
}

.table {
    font-family: monospace;
}

#controls .btn {
    background-color: white;
}

#controls .btn:focus, #modal .btn:focus {
    outline: 0;
}

#controls .btn:hover, #modal .btn:hover {
    border-color: #5E9ED6;
    background-color: white;
}

#controls #clear:hover, #controls #delete:hover {
    border-color: red;
}

#info {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 20px;
}

body {
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#controls {
    display: inline;
}

#clear {
    float: right;
    margin-right: 10px;
}

#table-wrapper {
    position: relative;
    background-color: white;
    border-top: 1px solid black;
}

tbody .glyphicon {
    padding: 0 8px 0 8px;
    font-size: 28px;
}

@media (min-width: 768px) {
    #info {
        font-size: 20px;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    h1 {
        text-align: center;
        font-size: 40px;
    }
    #controls {
        display: inline;
        width: 33%;
        height: 40px;
    }
    #controls, #controls #clear, #controls #delete, #controls #insert {
        height: 40px;
    }
    thead {
        font-size: 20px;
    }
    tbody {
        font-size: 16px;
    }
}

.hidden {
    display: none;
}